@font-face {
  font-family: "Lovelo";
  font-weight: 100;
  src: url("../fonts/Lovelo-Black.ttf") format("truetype");
}

.outline {
  outline: 1px solid red;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Roboto, Verdana;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #24164B;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.titler {
  font-family: Lovelo;
}

h1 {
  font-size: 126px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

h1.second {
  font-size: 48px;
  margin-bottom: 50px;
}

.stx-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.ssg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

#ssg-1 {
  width: 100%;
  top: -53%;
  left: 46%;
}

#ssg-1.second {
  -webkit-transform: translateX(-50%) rotate(273deg);
          transform: translateX(-50%) rotate(273deg);
  width: 80%;
  top: auto;
  bottom: -70%;
  left: -5%;
}

#ssg-2 {
  width: 52%;
  top: -60%;
  left: 68%;
  -webkit-transform: translateX(-50%) rotate(117deg);
          transform: translateX(-50%) rotate(117deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

#ssg-2.second {
  width: 56%;
  top: -64%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -68%;
}

.stx-main-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
}

@media screen and (max-width: 1240px) {
  .stx-main-cont {
    width: 90%;
  }
  .stx-main-cont h1.titler {
    font-size: 60px;
  }
  .stx-main-cont .stx-central > p {
    font-size: 12px;
  }
  .stx-main-cont #demo-choose-block {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .stx-main-cont #demo-choose-left {
    margin-bottom: 25px;
  }
  .stx-main-cont #demo-choose-divider {
    display: none;
  }
  .stx-main-cont #demo-choose-left, .stx-main-cont #demo-choose-right {
    text-align: center !important;
  }
}

.stx-main-cont .stx-central {
  max-height: 90vh;
  max-width: 100%;
}

.stx-main-cont .stx-central > p {
  text-align: center;
}

.stx-main-cont #choose-demo {
  margin-top: 70px;
}

.stx-main-cont #demo-choose-block {
  margin-top: 45px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.stx-main-cont #demo-choose-block #demo-choose-left {
  text-align: right;
}

.stx-main-cont #demo-choose-block #demo-choose-left, .stx-main-cont #demo-choose-block #demo-choose-right {
  cursor: pointer;
}

.stx-main-cont #demo-choose-block #demo-choose-divider {
  height: 200px;
  width: 1px;
  margin: 0 50px;
  background-color: #fff;
}

.stx-main-cont #demo-choose-block div p {
  width: 200px;
  font-size: 14px;
  color: #BCA8FF;
}

.stx-main-cont.second {
  margin-top: 0;
  width: 60%;
}

@media screen and (max-width: 1240px) {
  .stx-main-cont.second {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .stx-main-cont.second {
    width: 90%;
  }
}

.stx-main-cont .stx-video-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 640px) {
  .stx-main-cont .stx-video-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stx-main-cont #video-grid {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stx-main-cont #video-grid.third {
  width: 70%;
}

@media screen and (max-width: 640px) {
  .stx-main-cont #video-grid.third {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .stx-main-cont #video-grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 480px) {
  .stx-main-cont #video-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.stx-main-cont .video-grid-item {
  padding: 10px;
  min-width: 33%;
}

.stx-main-cont .video-grid-item.selected video {
  -webkit-box-shadow: #FFEECF 0px 0px 20px;
          box-shadow: #FFEECF 0px 0px 20px;
}

.stx-main-cont video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.stx-main-cont .stx-tree {
  height: 100%;
  margin-left: 5%;
  position: relative;
}

@media screen and (max-width: 640px) {
  .stx-main-cont .stx-tree {
    margin: 30px 0 50px 0;
  }
}

@media screen and (max-width: 640px) {
  .stx-main-cont .tree-content {
    position: absolute;
    left: 50%;
    width: 80%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.stx-main-cont .tree-title {
  text-align: center;
  font-weight: 500;
}

.stx-main-cont .stx-room-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
  width: 100%;
}

@media screen and (max-width: 840px) {
  .stx-main-cont .stx-room-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stx-main-cont .stx-room-info-block {
  max-width: 400px;
  padding: 0 50px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

@media screen and (max-width: 840px) {
  .stx-main-cont .stx-room-info-block {
    margin-bottom: 70px;
  }
}

.stx-main-cont .stx-room-info-block p, .stx-main-cont .stx-room-info-block h2 {
  font-size: 14px;
  margin: 5px 0;
}

.stx-main-cont .stx-room-info-block h2 {
  font-size: 22px;
}

.stx-main-cont .stx-room-info-block .block-info {
  margin-top: 10px;
  color: #BCA8FF;
  font-size: 12px;
}

.stx-main-cont .stx-room-info-block::before {
  content: '';
  position: absolute;
  left: 0;
  width: 1px;
  top: 10%;
  height: 80%;
  background-color: #725AC1;
}

.stx-main-cont .stx-room-info-block:first-child::before {
  top: -20%;
  height: 140%;
  background-color: #fff;
}

.tf-custom {
  overflow: visible;
}

.tf-custom .tf-nc {
  background-color: #3B00FF;
  border: none !important;
  padding: 0;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.tf-custom .tf-nc:before,
.tf-custom .tf-nc:after {
  border-left-color: #FFEECF !important;
  border-left-width: 2px;
}

.tf-custom li li:before {
  border-top-color: #FFEECF !important;
  border-top-width: 2px;
}

.copy {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */